.cardCls{
    width: 60%;
    border:solid 1px rgb(236, 223, 223);
    color:rgb(119, 29, 245);
    border-radius: 5px;
    margin: 10px auto;
    background-color: rgb(189, 245, 219);
}
.cardCls input{
    width: 200px;
    margin:5px;
    border-radius: 5px;
}